html{
    height: 100%;
}
body{
    margin:0;
}
header{
    width: 100%;
    height: 90px;
    border-bottom:2px solid #ddd;

}
.headerWapper{
    width: 1300px;
    height: 100%;
    margin:0 auto;
}
.headerInner{
    display: flex;
    height: 100%;
    width: 100%;

}
.headerLogo{
    display: flex;
    flex-basis: 25%;
    align-items: center;
    justify-content: center;
}
.logo{
    display: flex;
    padding-right: 50px;
    width: 100px;
    height: 100%;
}
.logo a{
    background: url("/img/comLogo.png") no-repeat center center / 100px 90px;
    /* background-size:contain;
    background-repeat: no-repeat; */
    width: 100%;
    height: 100%;
    background-size: 130px;
    
}
.headerSearch{
    display: flex;
    align-items: center;
    flex-basis: 50%;
    width: 100%;
    height: 100%;
}
.searchForm{
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: #f8f8f8;
    border: 1px solid #ddd;
}
.searchForm .search{
    outline:none;
    width: 370px;
    height: 20px;
    border-style: none;
    background-color: #f8f8f8;
    padding:10px 40px 10px 0px;
    margin: 3px 0px 3px 15px;
}
.searchIcon{
    position: relative;
    right: 20px;
    display: inline;
}
.headerUtil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 25%;
    width: 100%;
    height: 100%;
}
.utilList{
    display: table;
    margin-top: 5px;
}
.utilList_login{
    display: table-cell;
    padding-right: 25px;
}