html{
    height: 100%;
}
body{
    margin:0;
    backdrop-filter: blur(5px);
}

header{
    width: 100%;
    height: 90px;
    border-bottom:2px solid #ddd;

}
.headerWapper{
    width: 1300px;
    height: 100%;
    margin:0 auto;
}
.headerInner{
    display: flex;
    height: 100%;
    width: 100%;

}
.headerLogo{
    display: flex;
    flex-basis: 25%;
    align-items: center;
    justify-content: center;
}
.logo{
    display: flex;
    padding-right: 5px;
    width: 130px;
    height: 100%;
}
.logo a{
    background: url("/img/FOODEAT.png") no-repeat center center / 100px 90px;
    width: 100%;
    height: 100%;
    background-size: 130px;
    
}
.headerSearch{
    display: flex;
    align-items: center;
    flex-basis: 50%;
    width: 100%;
    height: 100%;
}
.searchForm{
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: #f8f8f8;
    border: 1px solid #ddd;
}
.searchForm .search{
    outline:none;
    width: 370px;
    height: 20px;
    border-style: none;
    background-color: #f8f8f8;
    padding:10px 40px 10px 0px;
    margin: 3px 0px 3px 15px;
}
.searchIcon{
    position: relative;
    right: 20px;
    display: inline;
}
.headerUtil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 25%;
    width: 100%;
    height: 100%;
}
.utilList{
    display: table;
    margin-top: 5px;
}
.utilList_login{
    display: table-cell;
    padding-right: 25px;
}
#InfoBar{
  display: flex;
  width: 1300px;
  height: 110px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}
.RestaurantName{
  display: flex;
  align-items: center;
  margin-right: 64px;
}
.RestaurantName p{
    margin:0;
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
}
.InfoMenu{
    display: flex;
    width: 600px;
    height: 100%;
    align-items: center;
    
}
.call , .comfirm, .memberChange,.map,.wait,.cancel{
    background: url(/img/COM.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 65px;
    margin-right: 30px;
}
#slideshow-container .mySlides img {
    height: 400px;
  }
#slideshow-container{
  position:relative;
  height: 400px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 55px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 4px;
  width: 38px;
  margin: 0 2px;
  background-color: white;
  display: inline-block;
  border-radius: 5px;
  transition: background-color 0.6s ease;
}
.mp_wap{
  position:absolute;
  top:63%;
  left:20%;
}

.active, .dot:hover {
  background-color: red;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.quickfilter{
  position: absolute;
  width: 1300px;
  top: 0px;
  left:50%;
  margin-top: 516px;
  translate: -650px;
  z-index:9999;
}

.quickfilter .filterBar_Names button{
  padding:10px;
  width: 200px;
  border:none;
  border-radius: 10px 10px 0 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.filterBar_Names{
  display: flex;
  align-items: center;
}
.myplaceIcon{
  margin-right: 5px;
}
.menuIcon{
  margin-right: 5px;
}
.filterRegion{
  height: 120px;
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:30px 50px;
  box-shadow:rgb(128 128 128 / 85%) 4px 1px 17px 1px;
  border-radius: 0px 10px 10px 10px;
}
.nowplace button{
  margin-bottom: 30px;
  font-size: 30px;
  cursor: pointer;
  background-color: #ddd;
  border: none;
  border-radius: 5px;
}
.selfplace{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.doo{
  display: flex;
  width: 232px;
  margin-right: 40px;
  justify-content: center;
  border-bottom: 2px solid #5c5f67;
}
.doo input{
  border:none;
  font-size: 26px;
  width: 196px;
  outline: none;

}
.doo .dooicon{
  font-size: 24px;
  cursor: pointer;
}
.si{
  display: flex;
  width: 232px;
  margin-right: 40px;
  justify-content: center;
  border-bottom: 2px solid #5c5f67;
}
.si input{
  border:none;
  font-size: 26px;
  width: 196px;
  outline:none;
  background-color:white;

}
.si .siicon{
  font-size: 24px;
  cursor: pointer;
}
.filterRegion .find{
  background:none;
  border:none;
  background-color: #ddd;
  border-radius: 3px;
  font-size: 30px;
}
.filterMenu{
  height: 120px;
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  box-shadow: rgb(128 128 128 / 85%) 4px 1px 17px 1px;
  border-radius: 0px 10px 10px 10px;
}
.korea, .japen, .china, .america, .germany, .italy{
  display: flex;
  flex-direction: column;
  align-items: center;
}