body{
    background-color: rgb(245, 246, 247);
}

.PassInfo{
    margin-top: 200px;
    text-align: center;
}
.PassEx{
    margin-bottom: 10px;
}
.Id{
    width: 460px;
    margin-top: 5px;
    height: 25px;
    padding: 10px;
}
.Name{
    width: 460px;
    margin-top: 5px;
    height: 25px;
    padding: 10px;
}
.EmailInput{
    width: 460px;
    margin-top: 5px;
    height: 25px;
    padding: 10px;
}

.PassBtn{
    margin-top: 30px;
    width: 484px;
    background-color: #fcaa72;
    border: #fcaa72;
    padding: 8px 0 8px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 700;
}

.BackBtn{
    margin-top: 20px;
    width: 484px;
    background-color: #fcaa72;
    border: #fcaa72;
    padding: 8px 0 8px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 700;
}