body{
    background-color: rgb(245, 246, 247);
}   

#Box{
    margin: 0 auto;
    max-width: 768px;
    min-width: 460px;
}

.IdInfo{
    margin-top: 200px;
    text-align: center;
}
.IdEx{
    margin-bottom: 10px;
}

.Name{
    width: 460px;
    margin-top: 5px;
    height: 25px;
    padding: 10px;
}
.EmailInput{
    width: 460px;
    margin-top: 5px;
    height: 25px;
    padding: 10px;
}

.IdBtn{
    margin-top: 30px;
    width: 484px;
    background-color: #fcaa72;
    border: #fcaa72;
    padding: 8px 0 8px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 700;
}

.BackBtn{
    margin-top: 20px;
    width: 484px;
    background-color: #fcaa72;
    border: #fcaa72;
    padding: 8px 0 8px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 700;
}