body{
  background-color: rgb(245, 246, 247);
}

#box{
  margin: 0 auto;
    max-width: 768px;
    min-width: 460px;
}

#logo{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo img{
  width: 240px;
}

#Info{
  display: flex;
  justify-content: center;
}

#Id_Table{
  display: flex;
}
.IdInput{
  width: 340px;
  height: 25px;
  padding: 10px;
}

.IdBtn{
  margin-left: 20px;
  font-size: 15px;
  font-weight: 700;
  width: 100px;
  height: 50px;
  background-color: #fcaa72;
  border: #fcaa72;
  border-radius: 6px;
}

.IdPwBtn{
  margin-top: 5px;
}
#PassInput{
  width: 460px;
  margin-top: 5px;
  height: 25px;
  padding: 10px;
}
#ConfirmPassInput{
  width: 460px;
  margin-top: 5px;
  height: 25px;
  padding: 10px;
}
#BadPass{
  font-size: 5px;
}
#GoodPass{
  font-size: 10px;
}
.Name{
  margin-top: 10px;
}
.NameInput{
  width: 460px;
  height: 25px;
  padding: 10px;
}
.DateBirth{
  margin-top: 20px;
}
.DateBirthInput{
  width: 460px;
  height: 25px;
  padding: 10px;
}
#Phone{
  margin-top: 20px;
}
.PhoneInput{
  width: 460px;
  height: 25px;
  padding: 10px;
}
.Email{
  margin-top: 20px;
}
.EmailInput{
  width: 460px;
  height: 25px;
  padding: 10px;
}
.StoreInput{
  width: 460px;
  height: 25px;
  padding: 10px;
}
#email_errorbox{
  font-size: 10px;
  color: red;
  display: block;
  visibility: hidden;
}

.hidden {
  display: none;
}
#Join{
  text-align: center;
  width: 484px;
}
.joinBtn{
  margin-top: 30px;
  width: 484px;
  background-color: #fcaa72;
  border: #fcaa72;
  padding: 8px 0 8px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 700;
}
.NotBtn{
  margin-top: 30px;
  width: 484px;
  background-color: hwb(25 64% 0%);
  border: hwb(25 64% 0%);
  padding: 8px 0 8px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 700;
}

#Id_label{
  margin: 19px 0 8px;
  font-size: 14px;
  font-weight: 700;
}
#Pass_label{
  margin: 19px 0 8px;
  font-size: 14px;
  font-weight: 700;
}
#ConfirmPass_label{
  margin: 19px 0 8px;
  font-size: 14px;
  font-weight: 700;
}
#Name_label{
  margin: 19px 0 8px;
  font-size: 14px;
  font-weight: 700;
}
#Birth_label{
  margin: 19px 0 8px;
  font-size: 14px;
  font-weight: 700;
}
#Phone_label{
  margin: 19px 0 8px;
  font-size: 14px;
  font-weight: 700;
}
#Email_label{
  margin: 19px 0 8px;
  font-size: 14px;
  font-weight: 700;
}
#Store_label{
  margin: 19px 0 8px;
  font-size: 14px;
  font-weight: 700;
}