button {
  padding: 5px 10px;
  cursor: pointer;
}
h4{
  margin-left: 10px;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modalBox {
  position: absolute;
  background-color: #fff;
  width: 220px;
  height: 500px;
}

#Info{
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center; */
  text-align: center;
}

.IdPwBtn{
  margin-top: 5px;
}
.Saticefied{
  font-size: 10px;
}
.Name{
  margin-top: 10px;
}
.DateBirth{
  margin-top: 20px;
}
#Phone{
  margin-top: 20px;
}
.Email{
  margin-top: 20px;
}
#Year{
  width: 50px;
}
#Month{
  width: 50px;
}
#Day{
  width: 50px;
}

.modalBox .joinBtn {
  position:absolute;  
  width:100%;
  height:30px;
  bottom:0;
  background-color: black;
  display:block;
}

.hidden {
  display: none;
}