button {
<<<<<<< HEAD
  padding: 5px 10px;
  cursor: pointer;
}
h4{
  margin-left: 10px;
  text-align: center;
}
=======
    padding: 5px 10px;
    cursor: pointer;
  }
  h4{
    text-align: center;
  }
>>>>>>> eee6577f3d5981dffde8e12c4cb442f0cedb0330

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modalBox {
  position: absolute;
  background-color: #fff;
  width: 220px;
  height: 400px;
}

<<<<<<< HEAD
#Info{
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center; */
  text-align: center;
}
=======
  #Info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
>>>>>>> eee6577f3d5981dffde8e12c4cb442f0cedb0330

#Name{
  margin-top: 20px;
}
#DateBirth{
  margin-top: 20px;
}
#Phone{
  margin-top: 20px;
}
#Year{
  width: 50px;
}
#Month{
  width: 50px;
}
#Day{
  width: 50px;
}


.modalBox button {
  position:absolute;  
  width:100%;
  bottom:0;
  background-color: black;
  display:block;
}

.hidden {
  display: none;
}