<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Confirm_Pass.css" />
    <title>Document</title>
</head>
<body>
    <div class="PassInfo">
        <h2>비밀번호 수정</h2>
        <form class="FindPass">
            <div class="PassDiv">
                <div class="PassEx">기존 비밀번호와 수정할 비밀번호를 입력해주세요.</div>
                <input required type="text" class="Pass" name="Pass" placeholder="기존 비밀번호" /><br />
                <input required type="text" class="NewPass" name="NewPass" placeholder="새 비밀번호" /><br />
                <input required type="text" class="ConfirmPass" name="ConfirmPass" placeholder="새 비밀번호 확인" /><br />
            </div>
            <input style="color: black" class="ConfirmBtn" type="submit" value="확인" />
        </form>
    </div>
</body>
<script src="/js/Confirm_pass.js"></script>
</html>