<!--로그인 페이지-->
<!-- login.html-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log-in</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/06b646a751.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
  <form form th:action="@{/login_proc}" method="post">
    <div id="login_out">
      <div class="login_in">
        <div class="logo">
          <img src="/img/foodeat.png" alt="logo" />
        </div>
        <div class="middle">
           <div class="form-group">
            <div class="input_row" id="id_box">
              <div class="icon_box">
                <div class="icon"><i class="fa-regular fa-user"></i></div>
              </div>
              <input
                required
                class="form-control"
                name="username"
                type="text"
                style="border: 0 solid black"
                placeholder="아이디 또는 이메일"
              />
              <div class="X_box" id="id_remove">
                <div class="X_icon">
                  <i class="fa-solid fa-circle-xmark"></i>
                </div>
              </div>
            </div>
            <div class="input_row" id="password_box">
              <div class="icon_box">
                <div class="icon"><i class="fa-solid fa-lock"></i></div>
              </div>
              <input
                required
                class="form-control"
                type="password"
                name="password"
                style="border: 0 solid black"
                placeholder="비밀번호"
              />
              <div class="X_box" id="pw_remove">
                <div class="X_icon">
                  <i class="fa-solid fa-circle-xmark"></i>
                </div>
              </div>
            </div>
            </div>
            <input class="confirm" type="submit" value="로그인" />
        </div>
        <div class="bottom">
          <div class="find">
            <a href="#" onclick="location.href='/SignUp_Class'"
              >회원가입</a>
             <a>|</a>
            <a href="#" onclick="location.href='/findinfo'" 
              >아이디 찾기</a
            >
            <a>|</a>
            <a href="#" onclick="location.href='/passfind'" 
              >비밀번호 찾기</a
            >
          </div>
          <div class="kakao_login" >
            <button type="button" onclick="location.href='/oauth2/authorization/kakao'">
              <img src="/img/kakao.png" alt="kakao" />
              <p>카카오 로그인</p>
            </button>
          </div>
        </div>
      </div>
    </div>
    </form>
    <script src="/js/id&pw.js"></script>
  </body>
</html>