<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link rel="stylesheet" th:href="@{/css/Mypage_Restaurant.css}" />
</head>

<body>
    <div class="Main">
        <div class="SideBar">
            <div class="Title_Area">
                <div class="headerLogo">
                    <div class="logo">
                        <a href="#" onclick="location.href='/mainpage'"></a>
                        <h1 class="Title">내정보</h1>
                    </div>
                </div>
            </div>s
            <div class="Profile_Area">
                <div class="Profile_Inner">
                    <div class="Photo">
                        <img src="/img/Profile.png" alt="profile_image" class="Profile_Image">
                        <input type="file" accept="image/*" class="Upload">
                        <span class="Photo_Edit"></span>
                    </div>
                    <div class="Profile">
                        <p class="UserName" th:text="${infoName}"></p>
                        <p class="UserEmail"th:text="${infoEmail}"></p>
                    </div>
                </div>
            </div>
            <div class="Menu_Area">
                <li class="Act">
                    <a href="#" onclick="location.href='/Mypage_Account'">
                        <div class="Menu_Act" >정보수정</div>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="location.href='/Mypage_Fav'">
                        <div class="Menu">즐겨찾기</div>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="location.href='/Mypage_Review'">
                        <div class="Menu">리뷰목록</div>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="location.href='/Mypage_History'">
                        <div class="Menu">방문목록</div>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="location.href='/Mypage_Restaurant'">
                         <div class="Menu" sec:authorize="hasRole('ROLE_ADMIN')">식당관리</div>
                    </a>
                </li>
            </div>
        </div>
        <div class="Info">
            <h2 class="Time_Info">매장 시간 정보</h2>
            <div class="Restaurant_Box">
                <li>
                    <div class="Time_Box">
                        <span class="Time">개점 시간</span>
                        <button class="Open">
                            <span class="Time_Btn">설정</span>
                        </button>
                        <span class="Open_Input">오전 9시</span>
                    </div>
                </li>
                <div class="line"></div>
                <li>
                    <div class="Time_Box">
                        <span class="Time">폐점 시간</span>
                        <button class="Close">
                            <span class="Time_Btn">설정</span>
                        </button>
                        <span class="Close_Input">오후 10시</span>
                    </div>
                </li>
                <div class="line"></div>
                <li>
                    <div class="Time_Box">
                        <span class="Time">라스트 오더</span>
                        <button class="Last">
                            <span class="Time_Btn">설정</span>
                        </button>
                        <span class="Last_Input">오후 9시</span>
                    </div>
                </li>
                <div class="line"></div>
                <li>
                    <form action="" class="week_submit">
                        <div class="Time_Box">
                            <span class="Time">개점 요일</span>
                            <button class="Confirm">
                                <span class="Confirm_Btn">수정</span>
                            </button>
                            <span class="week">
                                <input type="checkbox" name="week" id="week_check" value="월요일">월
                                <input type="checkbox" name="week" id="week_check" value="화요일">화
                                <input type="checkbox" name="week" id="week_check" value="수요일">수
                                <input type="checkbox" name="week" id="week_check" value="목요일">목
                                <input type="checkbox" name="week" id="week_check" value="금요일">금
                                <input type="checkbox" name="week" id="week_check" value="토요일">토
                                <input type="checkbox" name="week" id="week_check" value="일요일">일
                            </span>

                    </form>
            </div>
            </li>
        </div>
        <h2 class="Account_Confirm">매장 사진</h2>
        <div class="Confirm_Box">
            <li>
                <div class="Picture_Box">
                    <div class="Top">
                        <span class="Picture">사진 첨부</span>
                        <input type="file" accept="image/*" class="Edit_Restaurant1">
                        <input type="file" accept="image/*" class="Edit_Restaurant2">
                        <input type="file" accept="image/*" class="Edit_Restaurant3">

                    </div>

                    <div class="line" style="margin-top: 10px;"></div>
                    <div class="Under">
                        <div class="Picture_Restaurant_1">
                            <h3 class="Main_Ex">메인 사진</h3>
                            <img alt="" class="Main_Image">
                        </div>
                        <div class="Second">
                            <div class="Picture_Restaurant_2">
                                <h3 class="Serve1_Ex">서브 사진1</h3>
                                <img alt="" class="Serve_Image1">
                            </div>
                            <div class="Picture_Restaurant_3">
                                <h3 class="Serve2_Ex">서브 사진2</h3>
                                <img alt="" class="Serve_Image2">
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </div>
    </div>
    </div>
</body>
<script src="/js/Mypage_Restaurant.js"></script>

</html>