<!-- <html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet"th:href="@{/css/Sign_up.css}" />
     <script src="js/signUp.js"></script>
         
  </head>
  <body>
    <button class="SignUpBtn">회원가입</button>
    <div class="modal hidden">
      <div class="bg"></div>
      <div class="modalBox">
        <h4>회원가입</h4>
        <div id="Info">
          <form action="/signUp" class="IdPw" method="post">
            <div class="id">
              <input
                required
                type="text"
                id="userId"
                name="userId"
                class="IdInput"
                placeholder="아이디"
              />

            </div>
            <div class="Password">
              <input
                id="password"
                required
                type="password"
                name="userPw"
                class="PassInput"
                placeholder="비밀번호"
              />
            </div>
            <div class="ConfirmPassword">
              <input
                required
                id="passwordConfirm"
                type="password"
                class="ConfirmPassInput"
                placeholder="비밀번호 확인"
              />
            </div>
            <div id ="confirmMsg"></div>
              <div class="Name">
                이름<br/>
                <input
                  required
                  type="text"
                  class="NameInput"
                  name ="userName"
                  placeholder="이름을(를)입력하세요."
                />
              </div>
              <div class="DateBirth" action="/signUp">
                생년월일<br />
                <input
                  required
                  type="text"
                  name="userBirth"
                  class="DateBirthInput"
                  placeholder="0000.00.00"
                />
              </div>
              <div id="Phone">
                핸드폰 번호<br />
                <input
                  required
                  type="text"
                  class="PhoneInput"
                  name="userPhone"
                  placeholder="010-0000-0000"
                />
              </div>
              <div class="Email" action="/signUp">
                이메일<br />
                <input
                  required
                  type="text"
                  class="EmailInput"
                  name="userEmail"
                  placeholder="Ex) jsj487@naver.com"
                />
              </div>
              <span id="email_errorbox">이메일 주소를 다시 확인해주세요.</span>
            <input
              style="color: white"
              class="joinBtn"
              type="submit"
              value="회원가입"
            />
          </form>
        </div>
      </div>
    </div>
  </body>
  <script></script>
</html> 

 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet"th:href="@{/css/Sign_up.css}" />
     <script src="js/signUp.js"></script>
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>	
   <script type ="text/javascript">

   $("#overlappedID").click(function(){
		$("#signup").attr("type", "button");
		const id = $("#user_id").val();
		$.ajax({
		type: "get",
		async: false,
		url: "http://localhost:8080/signUp/idCheck",
		data: {id: userId},
		success: function (data) {
		if(data == 1) {
			$("#olmessage").text("이미 사용중인 ID 입니다.");
			$("#olmessage").addClass("olmessagef");
			$("#olmessage").removeClass("olmessaget");
			}else {
			$("#olmessage").text("사용 가능한 ID 입니다.");
			$("#olmessage").addClass("olmessaget");
			$("#olmessage").removeClass("olmessagef");
			$("#signup").attr("type", "submit");
			}
			}
		})
		});
</script>
  </head>
<body>
  <button class="SignUpBtn">회원가입</button>
  <div class="modal hidden">
    <div class="bg"></div>
    <div class="modalBox">
      <h4>회원가입</h4>
      <div id="Info">
       <form action="/signUp" class="IdPw" method="post">
          <div class="id">
            <input required type="text" id="user_id" class="IdInput" name="userId" placeholder="아이디" />
            <button id="overlappedID" type="button">중복확인</button><br>
	        <span id="olmessage"></span>
          </div>
          <div class="Password">
            <input required name="userPw" type="password" id="PassInput" placeholder="비밀번호" />
          </div>
          <div class="ConfirmPassword">
            <input required name="UserConfirmPass" type="password" id="ConfirmPassInput" placeholder="비밀번호 확인" />
          </div>
       
          <div style="color: red; display: none;" id="BadPass" onchange="PassCheck()">
            *비밀번호가 일치하지 않습니다.
          </div>
          <div style="color: green; display: none" id="GoodPass" onchange="PassCheck()">
            *비밀번호가 일치합니다.
          </div>
          <div class="Name">
            이름<br />
            <input required type="text" class="NameInput" name="userName" placeholder="이름을(를) 입력하세요." />
          </div>
          <div class="DateBirth" action="">
            생년월일<br />
            <input required type="text" class="DateBirthInput" name="userBirth" placeholder="0000.00.00" />
          </div>
          <div id="Phone">
            핸드폰 번호<br />
            <input required type="text" class="PhoneInput" name="userPhone" placeholder="010-0000-0000" />
          </div>
          <div class="Email" action="">
            이메일<br />
            <input required type="text" class="EmailInput"name="userEmail"  placeholder="Ex) jsj487@naver.com" />
          </div>
          <span id="email_errorbox">이메일 주소를 다시 확인해주세요.</span>
          <input style="color: white" class="joinBtn" type="submit" value="회원가입" />
        </form>
      </div>
    </div>
  </div>
</body>
<script></script>

</html>