<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyeonsik.boot.mapper.UserMapper">
    <!-- 로그인 -->
    <select id="getUserAccount" resultType="com.hyeonsik.boot.vo.UserVo">
        SELECT * FROM TB_USER
        WHERE USER_ID= #{userId}
    </select>
    
	 <select id="overlappedID"  parameterType="com.hyeonsik.boot.vo.UserVo" resultType="int">
	  SELECT COUNT(*) FROM TB_USER
	  WHERE USER_ID = #{userId}
	</select>
    

    <!-- 회원가입 -->
    <insert id="saveUser" parameterType="com.hyeonsik.boot.vo.UserVo">
        INSERT INTO TB_USER
        (USER_ID, USER_PW, USER_NAME, USER_BIRTH, USER_PHONE, USER_EMAIL,USER_AUTH, APPEND_DATE, UPDATE_DATE)
        VALUES(#{userId},#{userPw},#{userName},#{userBirth},#{userPhone},#{userEmail},#{userAuth},#{appendDate},#{updateDate});
    </insert>
</mapper>