body {
    margin: 0px;
    word-break: keep-all;
    background-color: #fafafa;
}

.Entire {
    position: relative;
    width: 800px;
    margin: 0 auto;
    box-shadow: 0px 20px 20px 0px #ddd;
}

.header {
    width: 100%;
    height: 90px;
    border-bottom: 2px solid #ddd;

}

.headerWapper {
    width: 1300px;
    height: 100%;
    margin: 0 auto;
}

.headerInner {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

}

.headerLogo {
    display: flex;
    flex-basis: 25%;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    padding-right: 5px;
    width: 140px;
    height: 100%;
}

.logo a {
    background: url("/img/FOODEAT.png") no-repeat center center / 100px 90px;
    width: 100%;
    height: 100%;
    background-size: 130px;

}

.headerSearch {
    display: flex;
    align-items: center;
    flex-basis: 50%;
    width: 100%;
    height: 100%;
}

.searchForm {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: #f8f8f8;
    border: 1px solid #ddd;
}

.searchForm .search {
    outline: none;
    width: 370px;
    height: 20px;
    border-style: none;
    background-color: #f8f8f8;
    padding: 10px 40px 10px 0px;
    margin: 3px 0px 3px 15px;
}

.searchIcon {
    position: relative;
    right: 20px;
    display: inline;
}

.headerUtil {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 25%;
    width: 100%;
    height: 100%;
}

.utilList {
    display: flex;
    margin-top: 5px;
}

.utilList_login,
.utilList_Wait {
    padding-right: 20px;
}
.remote_Tip{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 320px;
    left: -42%;
    top: 100px;
    background-color: #ddd;
    border: 2px solid black;
    border-radius: 10%;
    transition: 1s;
}
.remote_Tip p{
    margin: 10px 10px;
}

.Tip_title{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.Tip_caution{
    color: red;
    font-weight: 700;
}


/* 추가내용 */
.remote_Bar {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 70px;
    right: -20%;
    top: 100px;
    background-color: #ddd;
    border: 2px solid black;
    border-radius: 50%;
    transition: 1s;
}

.bottomline {
    width: 100%;
    height: 1px;
    background-color: black;
    visibility: hidden;
}

.remote_Bar .member {
    display: flex;
    height: 40px;
    margin-left: 20px;
    align-items: center;
}

.remote_Bar .member div {
    margin-right: 6px;
}

.costHap {
    height: 50px;
    border-top: 1px solid black;
    display: none;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.count {
    height: 50px;
    display: none;
}

.count button {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 20px 20px;
    border: 1px solid rgb(245, 246, 247);
    border-top: 1px solid black;
    background-color: #fcaa72;
    font-weight: 600;
    font-size: 20px;
}

.hapname {
    padding-right: 5px;
}

.hapDiv {
    display: flex;
}

.menuBox {
    padding: 20px;
}

.menuCost {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.menuCost_left {
    display: flex;
    align-items: center;
}

.menuCost_left .cost {
    padding-left: 10px;
    margin-bottom: 5px;
}

.menuCost_right {
    display: flex;
    align-items: center;
}

.minus {
    margin-left: 5px;
}

.menuCost_right .su {
    margin-right: 5px;
    margin-left: 15px;
}

.noitem_bar p {
    margin: 0px;
    padding: 25px;
}

.store_Img {
    width: 800px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    background-image: url("./1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.store_Info {
    display: flex;
    width: 800px;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
}

.storeName {
    display: flex;
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
    padding-left: 30px;
    align-items: baseline;
}

.storeName .storePlace {
    font-size: 15px;
    margin-left: 5px;
    color: gray;
}

.storeIntro {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    padding-left: 30px;
}

.storeRank {
    display: flex;
    font-size: 20px;
    margin: 10px 0px 10px 0px;
    padding-left: 30px;
}

.storeRank .star {
    margin-right: 10px;
}

.review {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    color: grey;
    font-weight: 700;
}

.review .client {
    margin-right: 10px;
}

.etc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.phone,
.hart,
.share {
    display: flex;
    align-items: center;
    justify-content: center;
}

.etc p {
    margin-left: 5px;
}

.filter {
    display: flex;
    z-index: 1;
    width: 800px;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    margin-right: auto;
    margin-left: auto;
    height: 100px;
    cursor: pointer;
    background-color: white;

}

.blank {
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    margin-right: auto;
    margin-left: auto;
    height: 100px;
    cursor: pointer;
    background-color: white;
}

.homeTab,
.MenuTab,
.photoTab,
.userReviewTab {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.store_Home {
    width: 800px;
    margin: 0 auto;
    background-color: white;
}

.homeTab:hover,
.MenuTab:hover,
.photoTab:hover,
.userReviewTab:hover {
    border-bottom: 2px solid black;
}

.people {
    height: 180px;
}

.people p {
    margin: 0;
    padding-top: 20px;
    font-size: 30px;
    font-weight: 700;
    padding-left: 30px;
}

.barlist {
    display: flex;
    align-items: center;
    width: 82%;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
}

.number {
    display: flex;
    border-radius: 20px;
}

.numberSlide {
    display: flex;
    position: relative;
    margin-right: 25px;
}

.numberSlide input {
    position: absolute;
    top: 50%;
    left: 50%;
    outline: 0;
    appearance: none;
    border-radius: 0;
}

.numberSlide span {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #aaa;
    border-radius: 50%;
    box-sizing: border-box;
}

.numberSlide span:hover {
    background-color: rgb(240 181 181 / 58%);
    transition: 0.4s;
}

.active {
    background-color: rgb(240 181 181 / 58%);
}

/**/

.line {
    margin-top: 0px;
    height: 8px;
    background: #fafafa;
    border: #fafafa;
}

/*가게 이름*/
.Name {
    font-size: 40px;
    margin: 20px 0px 20px 30px;
}

/*가게 정보 페이지*/

.SubEx {
    color: gray;
}

.Ex {
    margin-left: 30px;
}

.Ex p {
    font-size: 30px;
    font-weight: 700;
}

.Time,
.Date,
.Address,
.Introduce,
.Call {
    display: flex;
    font-size: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}

.OpenBox,
.CloseBox {
    margin-left: 50px;
    display: flex;
    font-size: 20px;
}

.CloseBox {
    margin-top: -40px;
}

.Date,
.Call,
.Time,
.Introduce {
    margin-top: -25px;
}

.Week,
.IntroInfo,
.CallInfo {
    margin-left: 50px;
}

.AddressInfo {
    margin-left: 93px;
}

.IntroInfo {
    margin-top: 20px;
    line-height: 1.6
}

.Menu1,
.Menu2 {
    font-size: 30px;
    margin: 20px 0px 0px 30px;
}

.SubItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 85px;
    padding: 16px 20px;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(245, 246, 247);
}

.Menu,
.storePhoto,
.storeReview {
    background-color: white;
}

.MenuBar {
    display: flex;
    border-bottom: 3px solid rgb(244, 247, 248);
    background: rgb(244, 247, 248);
    font-weight: 1000;
    font-size: 20px;
    padding: 10px 0px 10px 20px;
}

.MenuName {
    margin-bottom: 2px;
    font-weight: 700;
}

.MenuName h4 {
    margin-bottom: 10px;
}

.menuImg {
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 150px;
    float: right;
}


.PhotoBar,
.ReviewBar {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid rgb(244, 247, 248);
    background: rgb(244, 247, 248);
    font-weight: 1000;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
}

.PhotoMore,
.ReviewMore {
    float: right;
    color: gray;
}

.PhotoBox {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}

.PhotoZone {
    margin: 10px 0px 10px 0px;
    width: 90%;
    height: 90%;
    display: flex;
}

.PhotoList {
    width: 80.5%;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    display: flex;
}

.PhotoNum {
    display: flex;
    height: 99%;
}

.Right,
.Left {
    display: flex;
    align-items: center;
    font-size: 40px;
    color: gray;
}

.Right {
    padding-left: 10px;
}

.Left {
    padding-right: 10px;
}

.Photo {
    list-style: none;
    width: 100%;
    height: 178px;
    margin-right: 2px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Photo img {
    max-height: 100%;
  }
.ReviewCount {
    margin-left: 20px;
    color: #fcaa72;
}

.ReviewBox {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
}

.ReviewZone {
    margin: 20px 0px 20px 0px;
    width: 90%;
    height: 90%;
    overflow: hidden;
}

.Review {
    display: flex;
    padding: 20px 10px 20px 10px;
    height: 150px;
    border-radius: 5px;
    background-color: #fafafa;
    list-style: none;
    border: 1px solid black;
    font-family: 'Nanum Gothic', sans-serif;
    box-shadow: 9px 5px 0px 0px #ddd;
}

.ReviewPhoto {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.UserZone {
    display: flex;
    margin-bottom: 5px;
}

.UserInfo {
    display: flex;
    margin: 0px 0px 10px 0px;
}

.UserProfile {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.NickName {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    font-size: 20px;
    margin: 0px 0px 0px 10px;
}

.DateInfo {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.UserCount,
.UserDate {
    margin-left: 10px;
    color: #8f8f8f;
}

.ReviewContent {
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 80%;
}

.ReviewMore1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: rgb(244, 247, 248);
    color: #424242;
    font-weight: 100;
    border: 1px solid #eaeef2;
}

.PhotoReduce,
.ReviewReduce {
    float: right;
    color: gray;
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-title,
.modal-contents,
.modal-foot {
    background-color: #fefefe;
    padding: 20px;
    width: 40%;
}

.modal-title{
    height: 5%;
    border-radius: 20px 20px 0px 0px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
  }
.modal-title span{
    font-weight: 700;
    font-size: 20px;
}

  .modal-contents{
    height: 40%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .RestaurantName,.OrderName,.OrderPhone,.OrderNum{
    display: flex;
  }
  .Cost-Box{
    display: flex;
    font-size: 20px;
  }
  .CostNum{
    font-weight: 700;
  }

  .modal-foot{
    display: flex;
    height: 5%; 
    border-radius: 0px 0px 20px 20px;
    background-color: #fcaa72;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
  }

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.ClosingBox{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.ClosingText{
    font-size: 40px;
    font-weight: 700;
}

.Imgmodal {
    display: none; /* 기본적으로 숨겨진 상태 */
    position: fixed; /* 페이지 스크롤에 영향받지 않게 고정 */
    z-index: 1; /* 다른 요소들보다 앞에 표시 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 스크롤 가능하도록 */
    background-color: rgba(0, 0, 0, 0.9); /* 배경색과 투명도 조절 */
  }
  
  /* 모달 이미지 */
  .Img-modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
  }
  
  /* 모달 닫기 버튼 */
  .Imgclose {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    color: #f1f1f1;
    cursor: pointer;
  }