body{
    margin:0px;
    word-break: keep-all;
    background-color: #fafafa;
}
.Entire{
    position: relative;
    width: 800px;
    margin:0 auto;
}
.header{
    width: 100%;
    height: 90px;
    border-bottom:2px solid #ddd;

}
.headerWapper{
    width: 1300px;
    height: 100%;
    margin:0 auto;
}
.headerInner{
    display: flex;
    height: 100%;
    width: 100%;

}
.headerLogo{
    display: flex;
    flex-basis: 25%;
    align-items: center;
    justify-content: center;
}
.logo{
    display: flex;
    padding-right: 5px;
    width: 140px;
    height: 100%;
}
.logo a{
    background: url("/img/FOODEAT.png") no-repeat center center / 100px 90px;
    width: 100%;
    height: 100%;
    background-size: 130px;
    
}
.headerSearch{
    display: flex;
    align-items: center;
    flex-basis: 50%;
    width: 100%;
    height: 100%;
}
.searchForm{
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: #f8f8f8;
    border: 1px solid #ddd;
}
.searchForm .search{
    outline:none;
    width: 370px;
    height: 20px;
    border-style: none;
    background-color: #f8f8f8;
    padding:10px 40px 10px 0px;
    margin: 3px 0px 3px 15px;
}
.searchIcon{
    position: relative;
    right: 20px;
    display: inline;
}
.headerUtil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 25%;
    width: 100%;
    height: 100%;
}
.utilList{
    display: flex;
    margin-top: 5px;
}
.utilList_login ,.utilList_Wait{
    padding-right: 20px;
}
/* 추가내용 */
.remote_Bar{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    right: -20%;
    top: 100px;
    background-color: #ddd;
    border: 2px solid black;
    border-radius: 50%;
    transition:1s;
}
.remote_Bar p{
    margin-left: 20px;

}
.remote_Bar .member{
    border-bottom: 1px solid #AAA;
}
.noitem_bar p{
    margin:0px;
    padding:25px;
}
.store_Img{
    width: 800px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    background-image: url("./1.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    box-shadow: 0px 9px 20px 5px #ddd;
}
.store_Info{
    display: flex;
    width: 800px;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
    box-shadow: 0px 9px 20px 5px #ddd;
}
.storeName{
    display: flex;
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
    padding-left: 30px;
    align-items: baseline;
}
.storeName .storePlace{
    font-size: 15px;
    margin-left: 5px;
    color:gray;
}

.storeIntro{
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    padding-left: 30px;
}
.storeRank{
    display: flex;
    font-size: 20px;
    margin-top: 20px;
    padding-left: 30px;
}
.storeRank .star{
    margin-right: 10px;
}
.review{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    margin-top: 10px;
    color:grey;
}
.review .client{
    margin-right: 10px;
}
.bar{
    background-color:rgba(128, 128, 128, 0.693);
    width: 1.7px;
    height: 16px;
    margin-right: 10px;
}
.etc{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.phone, .hart, .share{
    display: flex;
    align-items: center;
    justify-content: center;
}
.etc p{
    margin-left: 5px;
}
.filter{
    display: flex;
    width: 800px;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    margin-right: auto;
    margin-left: auto;
    height: 100px;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 20px 20px 0px #ddd;
}
.homeTab, .MenuTab, .photoTab, .userReviewTab{
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.store_Home{
    width: 800px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 20px 20px 0px #ddd;
}
.homeTab:hover, .MenuTab:hover, .photoTab:hover, .userReviewTab:hover{
    border-bottom: 2px solid black;
}
.people{
    height: 180px;
}
.people p{
    margin:0;
    padding-top: 20px;
    font-size: 30px;
    font-weight: 700;
    padding-left: 30px;
}
.barlist{
    display: flex;
    align-items: center;
    width: 82%;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
}
.number{
    display: flex;
    border-radius: 20px;
}
.numberSlide{
    display: flex;
    position:relative;
    margin-right: 25px;
}
.numberSlide input{
    position:absolute;
    top:50%;
    left: 50%;
    outline:0;
    appearance: none;
    border-radius: 0;
}
.numberSlide span{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #aaa;
    border-radius: 50%;
    box-sizing: border-box;
}
.numberSlide span:hover{
    background-color: rgb(240 181 181 / 58%);
    transition: 0.4s;
}
.active{
    background-color: rgb(240 181 181 / 58%);
}

/**/

.line{
    margin-top: 0px;
    height: 8px;
    background:rgb(245, 246, 247);
    border: rgb(245, 246, 247);
}
/*가게 이름*/
.Name{
    font-size: 40px;
    margin: 20px 0px 20px 30px;
}
/*가게 정보 페이지*/

.SubEx{
    color: gray;
}

.Ex{
    margin-left: 30px;
}
.Ex p{
    font-size: 30px;
    font-weight: 700;
}

.Time,.Date,.Address,.Introduce,.Call{
    display: flex;
    font-size: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}

.OpenBox,.CloseBox,.LastBox{
    margin-left: 50px;
    display: flex;
    font-size: 20px;
}

.CloseBox,.LastBox{
    margin-top: -40px;
}

.Date,.Call,.Time,.Introduce{
    margin-top: -25px;
}

.Week,.IntroInfo,.CallInfo{
    margin-left: 50px;
}

.AddressInfo{
    margin-left: 93px;
}

.IntroInfo{
    margin-top: 20px;
    line-height: 1.6
}

.Menu1,.Menu2{
    font-size: 30px;
    margin: 20px 0px 20px 30px;
}
.Subtitle{
    font-size: 20px;
    color:gray;
    font-family: 'Nanum Gothic', sans-serif;
}
.emg{
    display: flex;
}
.emg .icon{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 35px;
}
.emg i{
    font-size: 35px;
}
.emg p{
    font-size: 20px;
}


.SubItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 85px;
    padding: 16px 20px;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(245, 246, 247);
}

.MenuName{
    margin-bottom: 2px;
    font-weight: 700;
}
.MenuName h4{
    margin-bottom: 10px;
}

.MenuImg{
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 150px;
    float: right;
}
